.flex{
    display: flex
}

.row-wrap{
    flex-flow: row wrap
}

.space-between{
    justify-content: space-between
}

.center {
    justify-content: center
}

.full {
    display: block;
    width: 100%;
}